.h3 {
    font-size: 34px;
    color: $grey;
    font-weight: normal;
    opacity: 0.4;
}

.principles-title {
    margin-bottom: 56px;
}

.card-list {

    .item:not(:last-child) {
        margin-bottom: 90px;
    }

    .item img {
        margin-bottom: 18px;
        width: 100px;
        height: 100px;
    }

    .item-title {
        margin-bottom: 16px;
        font-size: 34px;
        color: black;
        font-weight: 500;
    }

    .item-description {
        font-size: 26px;
        color: #828282;
        font-weight: normal;
    }
}

