.projects {
    .logo {
        margin-bottom: 56px;
    }
}

.btn-primary {
  margin: 2em auto;
  display: block;
  -webkit-appearance: none;
  border-radius: 8px;
  padding: 1em 3em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: relative;
  color: #FFF;
  border: none;
  font-weight: bold;
    background: 
    linear-gradient(90deg, #D4A7FF, #EAC1A3, #A0E7E4);
    transition:  0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 10px;
        left: 0px;
        border-radius: 50px;
        z-index: -1;
        filter: blur(14px);
        opacity: 0.4;
        background: linear-gradient(90deg, #D4A7FF, #EAC1A3, #A0E7E4);
    }

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 15px;
        right: 5px;
        border-radius: 50px;
        z-index: -1;
        filter: blur(14px);
        opacity: 0.4;
        background: linear-gradient(90deg, #D4A7FF, #A0E7E4);
        opacity: 0.5;
    }

    &:hover::after {
        background: linear-gradient(-90deg, #D4A7FF, #A0E7E4);
    }

    &:hover::before {
        background: linear-gradient(-90deg, #D4A7FF, #EAC1A3, #A0E7E4);
    }
}

.btn-primary:hover {
    background: linear-gradient(-90deg, #D4A7FF, #EAC1A3, #A0E7E4);
    transition: all ease-in-out .3s;
}

