
$fontForm: 'Roboto', sans-serif;

$grey: #818991;
$dark: #3F3F3F;

$borderRadius: 8px;

// $baseContainerPadding: 70px;
// $baseContainerWidth: 1440px;

// $boxShadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
// $boxShadowYellow: 0 1px 15px 2px #ffe200;
/* 

border-radius
color
font-family
font-weight
margin (gutters, grid gutters)
transition (duration, easing) – consider a mixin 

*/
